.board {
    border: 3px solid $color-secondary;
    border-radius: 5px;

    &__header {
      
      border-bottom: 3px solid $color-secondary;

      &__title {
        text-align: center;
        padding: 1.5rem;
        display: none;
        border-bottom: 3px solid $color-secondary;
        font-weight: 700;
        background-color: $color-primary-light;

        @media screen and (max-width: 767px){
            display: block;
        }
      }

      &__list {
        list-style-type: none;
        display: flex;
        min-height: .5rem;
      }

        &__item {
            position: relative;
            flex: 1;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            &:not(:last-child) {
                &::after {
                    content: "";
                    width: 3px;
                    height: 70%;
                    background-color: $color-secondary;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                    @media screen and (max-width: 767px){
                        height: 100%;
                    }
                }
            }

            &--answered {
                background-color: $color-primary-light;
                &::after {
                    height: 100%!important;
                }
            }

            &__content {
                padding: 1rem 0;
                @media screen and (max-width: 767px){
                    display: none;
                }
            }
        }

    }

    &__content {
        display: flex;

        &__image {
            width: 34%;
            border-right: 3px solid $color-secondary;
            background-color: $color-primary-light;
            display: flex;
            justify-content: center;
            align-items: center;
            &>img {
                max-width: 75%;
            }

            @media screen and (max-width: 767px){
                display: none;
            }
        }

        &__main {
            flex: 1;
            padding: 3rem;
        }

        &__heading {
            font-size: 3.5rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-top: 1rem;

            @media screen and (max-width: 767px){
                font-size: 2.5rem;
            }
        }

        &__description {
            font-size: 2rem;
            line-height: 1.5em;
            margin-bottom: 1rem;
        }
    }

    &__form {
        font-size: 2rem;
        font-weight: 500;
        display: flex;
        flex-wrap: wrap;
        border-top: 3px solid $color-secondary;

        &--bmi {
            border: 0!important;
        }

        &__group {
            position: relative;
            width: 50%;
            padding: 3rem 1rem;
            border-bottom: 3px solid $color-secondary;
            box-sizing: border-box;

            &:nth-child(odd) {
                border-right: 3px solid $color-secondary;
            }

            &--bmi {
                border: 0!important;
            }

            @media screen and (max-width:767px) {
                width: 100%; 
                border-right: 0!important;            
                padding: 1.5rem 1rem;
            }

            &--additional {
                @media screen and (max-width:767px) {
                    display: none;
                }
            }
        }

        &__radio {
            opacity: 0;
            position: absolute;
            top: 40%;
            left: 2rem;
        }

        &__radio:checked ~ &__label &__checkbox {
            background-color: $color-primary;

            &::after {
                content: "x";
                position: absolute;
                font-size: 3.5rem;
                line-height: 1em;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                font-weight: 400;
            }
        }

        &__label {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
        }

        &__label:hover &__checkbox {
            background-color: $color-primary;
        }

        &__checkbox {
            display: block;
            border: 3px solid $color-secondary;
            border-radius: 5px;
            height: 3rem;
            width: 3rem;
            min-width: 3rem;
            margin-right: 1rem;
            position: relative;
        }

        &__button {
            background-color: white;
            font-family: inherit;
            font-size: inherit;
            color: inherit;
            padding: 1.3rem 4rem;
            border: 3px solid $color-secondary;
            border-radius: 5px;
            outline: none;
            text-transform: uppercase;
            font-weight: 500;
            margin-right: 3rem;
            margin-bottom: 2rem;
            cursor: pointer;
            
            &:hover {
                background-color: $color-primary;
            }
        }

        &__buttons_group {
            margin-top: 2rem;
        }

        &__select {
            font-size: 2rem;
            padding: 1rem 2rem;
            color: inherit;
            font-weight: 500;
            border: 3px solid $color-secondary;
            
            &>option {
                font-size: inherit;
                padding: 1rem 0;
                color: inherit;
            }

            @media screen and (max-width:767px) {
                width: 100%;
            }
        }
    }

}
