.result {
    max-width: 110rem;
    border: 3px solid $color-secondary;
    border-radius: 5px;
    display: flex;
    @media screen and (max-width: 767px ){
        flex-direction: column;
    }

    &__score {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 3px solid $color-secondary;
        font-weight: 700;
        padding: 1rem;
        box-sizing: border-box;
        
        &--danger {
            background-color: rgb(235, 116, 116);
        }

        &--normal {
            background-color: $color-primary-light;
        }

        @media screen and (max-width: 767px ){
            border-right: 0;
            border-bottom: 3px solid $color-secondary;
            padding: .5rem;
        }

        &__main {
            font-size: 13rem;
            text-align: center;
            line-height: 1em;

            @media screen and (max-width: 767px ){
                display: inline;
                font-size: 5rem;
            }
        }

        &__of {
            text-align: center;
            font-size: 4rem;

            @media screen and (max-width: 767px ){
                display: inline;
                font-size: 5rem;
            }

            & em {
                display: none;
                
                @media screen and (max-width: 767px ){
                    display: inline;
                }
            }

            & span {
                @media screen and (max-width: 767px ){
                    display: none;
                }
            }
        }
    }

    &__content {
        flex: 2;
        padding: 2rem;
        line-height: 1.5em;

        & h2 {
            text-transform: uppercase;
            margin: 1rem 0;
        }
    }
}

.btn {
    display: block;
    padding: 1rem;
    border: 3px solid $color-secondary;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    margin-top: 1rem;
    min-width: 15rem;

    &:link, &:visited {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: inherit;
        font-weight: 700;
        text-decoration: none;
        background-color: $color-primary;
    }

    &:hover {
        background-color: $color-primary-light;
    }
}

.result_nav {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    flex-wrap: wrap;

    &>a {
        &:link, &:visited {
            display: block;
            padding: 1rem 3rem;
            border: 3px solid $color-secondary;
            border-radius: 5px;
            text-decoration: none;
            color: inherit;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        &:hover {
            background-color: $color-primary-light;
        }
    }
}