$color-primary: rgb(255, 236, 124);
$color-primary-light: rgb(255, 251, 205);
$color-secondary: #27357b;

* {
    padding: 0;
    margin: 0;
}

body {
    color: #27357b;
}

@import "./scss/board"; 
@import "./scss/result";