* {
  padding: 0;
  margin: 0;
}

body {
  color: #27357b;
}

.board {
  border: 3px solid #27357b;
  border-radius: 5px;
}

.board__header {
  border-bottom: 3px solid #27357b;
}

.board__header__title {
  text-align: center;
  padding: 1.5rem;
  display: none;
  border-bottom: 3px solid #27357b;
  font-weight: 700;
  background-color: #fffbcd;
}

@media screen and (max-width: 767px) {
  .board__header__title {
    display: block;
  }
}

.board__header__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: .5rem;
}

.board__header__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.board__header__item:not(:last-child)::after {
  content: "";
  width: 3px;
  height: 70%;
  background-color: #27357b;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .board__header__item:not(:last-child)::after {
    height: 100%;
  }
}

.board__header__item--answered {
  background-color: #fffbcd;
}

.board__header__item--answered::after {
  height: 100% !important;
}

.board__header__item__content {
  padding: 1rem 0;
}

@media screen and (max-width: 767px) {
  .board__header__item__content {
    display: none;
  }
}

.board__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.board__content__image {
  width: 34%;
  border-right: 3px solid #27357b;
  background-color: #fffbcd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board__content__image > img {
  max-width: 75%;
}

@media screen and (max-width: 767px) {
  .board__content__image {
    display: none;
  }
}

.board__content__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3rem;
}

.board__content__heading {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .board__content__heading {
    font-size: 2.5rem;
  }
}

.board__content__description {
  font-size: 2rem;
  line-height: 1.5em;
  margin-bottom: 1rem;
}

.board__form {
  font-size: 2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 3px solid #27357b;
}

.board__form--bmi {
  border: 0 !important;
}

.board__form__group {
  position: relative;
  width: 50%;
  padding: 3rem 1rem;
  border-bottom: 3px solid #27357b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.board__form__group:nth-child(odd) {
  border-right: 3px solid #27357b;
}

.board__form__group--bmi {
  border: 0 !important;
}

@media screen and (max-width: 767px) {
  .board__form__group {
    width: 100%;
    border-right: 0 !important;
    padding: 1.5rem 1rem;
  }
}

@media screen and (max-width: 767px) {
  .board__form__group--additional {
    display: none;
  }
}

.board__form__radio {
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 2rem;
}

.board__form__radio:checked ~ .board__form__label .board__form__checkbox {
  background-color: #ffec7c;
}

.board__form__radio:checked ~ .board__form__label .board__form__checkbox::after {
  content: "x";
  position: absolute;
  font-size: 3.5rem;
  line-height: 1em;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

.board__form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.board__form__label:hover .board__form__checkbox {
  background-color: #ffec7c;
}

.board__form__checkbox {
  display: block;
  border: 3px solid #27357b;
  border-radius: 5px;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  margin-right: 1rem;
  position: relative;
}

.board__form__button {
  background-color: white;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 1.3rem 4rem;
  border: 3px solid #27357b;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.board__form__button:hover {
  background-color: #ffec7c;
}

.board__form__buttons_group {
  margin-top: 2rem;
}

.board__form__select {
  font-size: 2rem;
  padding: 1rem 2rem;
  color: inherit;
  font-weight: 500;
  border: 3px solid #27357b;
}

.board__form__select > option {
  font-size: inherit;
  padding: 1rem 0;
  color: inherit;
}

@media screen and (max-width: 767px) {
  .board__form__select {
    width: 100%;
  }
}

.result {
  max-width: 110rem;
  border: 3px solid #27357b;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.result__score {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 3px solid #27357b;
  font-weight: 700;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.result__score--danger {
  background-color: #eb7474;
}

.result__score--normal {
  background-color: #fffbcd;
}

@media screen and (max-width: 767px) {
  .result__score {
    border-right: 0;
    border-bottom: 3px solid #27357b;
    padding: .5rem;
  }
}

.result__score__main {
  font-size: 13rem;
  text-align: center;
  line-height: 1em;
}

@media screen and (max-width: 767px) {
  .result__score__main {
    display: inline;
    font-size: 5rem;
  }
}

.result__score__of {
  text-align: center;
  font-size: 4rem;
}

@media screen and (max-width: 767px) {
  .result__score__of {
    display: inline;
    font-size: 5rem;
  }
}

.result__score__of em {
  display: none;
}

@media screen and (max-width: 767px) {
  .result__score__of em {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  .result__score__of span {
    display: none;
  }
}

.result__content {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 2rem;
  line-height: 1.5em;
}

.result__content h2 {
  text-transform: uppercase;
  margin: 1rem 0;
}

.btn {
  display: block;
  padding: 1rem;
  border: 3px solid #27357b;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  margin-top: 1rem;
  min-width: 15rem;
}

.btn:link, .btn:visited {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  background-color: #ffec7c;
}

.btn:hover {
  background-color: #fffbcd;
}

.result_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.result_nav > a:link, .result_nav > a:visited {
  display: block;
  padding: 1rem 3rem;
  border: 3px solid #27357b;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
}

.result_nav > a:hover {
  background-color: #fffbcd;
}
/*# sourceMappingURL=style.css.map */