<template>
  <div class="home">
    <div class="risk_test__title">{{ name }}</div>
    
    <div class="about" v-html="content">
    </div>

    <div class="result_nav">
        <router-link to="/result">Trở về trang kết quả test</router-link>     
    </div>
    
  </div>
</template>

<script>
export default {
    name: "About",
    data() {
        return {
            name: "About the risk test",
            content: `
                <p>More than 84 million (1 in 3) American adults have prediabetes, a condition where blood glucose levels are higher than normal but not high enough yet for a type 2 diabetes diagnosis. What’s more, nearly 90 percent of those people don’t even know they have it. With so many people at risk for developing type 2 diabetes, it’s critical for Americans to learn their risk, to be screened regularly and to take the steps necessary to delay or even prevent type 2 diabetes or prediabetes.</p>
                <p>The American Diabetes Association (ADA) launched its first risk test in 1993. The risk test was adapted by a published study and validated using data from the Centers for Disease Control and Prevention (CDC). When developing the test, researchers looked for specific characteristics that made a person more likely than average to have undiagnosed type 2 diabetes. To make the tool as easy to use as possible, they only considered health characteristics that people would know about themselves without needing a blood test or other medical evaluation—such as age, height and weight, but not including blood glucose or cholesterol levels.</p>
                <p>A high score on the online risk test (five or higher) means an individual has a significant risk for having undiagnosed prediabetes or type 2 diabetes; however, only a blood test can determine a diagnosis.</p>
            `
        }
    }
}
</script>

<style lang="scss">
    .about {
        border: 3px solid #27357b;
        border-radius: 5px;
        padding: 3rem 10rem;
        font-size: 2rem;
        line-height: 1.5em;

        @media screen and (max-width: 767px){
            padding: 2rem 3rem;
        }

        @media screen and (max-width: 600px){
            padding: 1rem 0;
            font-size: 1.7rem;
        }

        &>p {
            padding: 1.5rem 2rem;
        }
    }
</style>