<template>
  <div class="home">
    <div class="risk_test__title">{{ name }}</div>
    
    <div class="board">
      <div class="board__header">
        <div class="board__header__title"> Question {{currentIndex+1}}/7 </div>
        <div class="board__header__labels">
          <ul class="board__header__list">
            <li 
              class="board__header__item" 
              :class = "[currentIndex >= index ? 'board__header__item--answered' : '']"
              v-for="(label, index) in labels" 
              :key="index">
                <div class="board__header__item__content">
                  {{index + 1}}. {{ label.label }}
                </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="board__content">
          <div class="board__content__image">
              <img 
                :src="question.image"
                alt=""> 
          </div>
          <div class="board__content__main">
              <template v-if="currentIndex < 5">
                <NormalQuestion></NormalQuestion>
              </template>
              <template v-if="currentIndex == 5">
                <Genter></Genter>
              </template>
              <template v-if="currentIndex == 6">
                <BMI></BMI>
              </template>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import NormalQuestion from '../components/NormalQuestions';
import Genter from '../components/Genter';
import BMI from '../components/BMI';

export default {
  name: 'Home',
  components: {
    NormalQuestion,
    Genter,
    BMI
  },
  data(){
    return {
      name: 'Take the risk test'
    }
  },
  computed: {
    ...mapGetters( ['labels', 'question', 'currentIndex', 'doned']),
  },
  beforeUpdate() {
    if ( this.currentIndex > 6 ) {
      this.$router.push('/result');
    }
  }
}
</script>
