<template>
  <div>
    <div class="risk_test__title">{{ name }}</div>
    <div class="result">
        <div  class="result__score"
              :class="[ score > 4 ? 'result__score--danger' : 'result__score--normal' ]"
        >
            <div>
              <div class="result__score__main">{{score}}</div>
              <div class="result__score__of">
                <em>/</em><span>of </span>10
              </div>
            </div>
        </div>
        <div class="result__content">
            <h3>Bạn có</h3>
            <template v-if="score>4">
                <h2>nguy cơ cao, hoặc đang mắc tiền tiểu đường</h2>
                Dựa trên những kết quả này, bạn có khả năng bị tiền tiểu đường và có nguy cơ cao mắc bệnh tiểu đường loại 2. Chỉ có bác sĩ của bạn có thể chẩn đoán bệnh tiểu đường hoặc tiền tiểu đường. Don Hãy chờ đợi các triệu chứng. Hãy hành động ngay bây giờ. In hoặc gửi email một bản sao kết quả của bạn cho chính bạn, mang đến bác sĩ của bạn và yêu cầu xét nghiệm máu đơn giản để xác nhận chúng. Sau đó làm việc với bác sĩ của bạn về một kế hoạch để hành động ngay bây giờ.
            </template>
            <template v-else>
                <h2>nguy cơ thấp bị tiền tiểu đường</h2>
                Ngay bây giờ, rủi ro của bạn là thấp. Cứ để như thế. Hãy nhớ rằng, điều quan trọng là duy trì cân nặng khỏe mạnh, tập thể dục thường xuyên và ăn một chế độ ăn uống lành mạnh. Kiểm tra Mẹo sống của chúng tôi để biết thêm hộp.	
            </template>
            <a href="/" class="btn btn--tips">see tips</a>
        </div>
    </div>
    <div class="result_nav">
        <router-link to="/about">Thông tin về Bài test yếu tố nguy cơ</router-link>
        <router-link to="/answers">Xem lại câu trả lời của bạn</router-link>     
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
    name: "Result",
    data(){
      return {
        name: "Result"
      }
    },
    computed: {
        ...mapGetters(['labels_ans', 'user_answers', 'doned']),
        score() {
            let score = 0;
            this.labels_ans.forEach(label => {
                if ( this.user_answers[label] && !isNaN(this.user_answers[label].score) ) {
                  score +=  this.user_answers[label].score;
                }
            });

            return score
        }
    },
    created() {
      if ( !this.doned ) {
        this.$router.push('/');
      }
    }
}
</script>

<style>

</style>