<template>
  <div class="home">
    <div class="risk_test__title">{{ name }}</div>
    
    <div class="board">
      <div class="board__header">
        <div class="board__header__title"> Question {{currentIndex+1}}/7 </div>
        <div class="board__header__labels">
          <ul class="board__header__list">
            <li 
              class="board__header__item" 
              :class = "[currentIndex >= index ? 'board__header__item--answered' : '']"
              v-for="(label, index) in labels" 
              :key="index">
                <div class="board__header__item__content">
                  {{index + 1}}. {{ label.label }}
                </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="board__content">
          <div class="board__content__image">
              <img 
                :src="question.image"
                alt=""> 
          </div>
          <div class="board__content__main">
              <ReviewAnswer></ReviewAnswer>
          </div>
      </div>
    </div>

    <div class="result_nav">
        <router-link to="/about">Thông tin về Bài test yếu tố nguy cơ</router-link>
        <router-link to="/result">Trở lại trang kết quả test</router-link>     
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ReviewAnswer from '../components/ReviewAnswer';

export default {
  name: 'Reviews',
  components: {
    ReviewAnswer
  },
  data(){
    return {
      name: 'Factors'
    }
  },
  computed: {
    ...mapGetters( ['labels', 'question', 'currentIndex', 'doned']),
  },
  created() {
    console.log('ok')
      if ( !this.doned ) {
          this.$router.push('/');
      } else {
          this.$store.commit('reset_counter');
      }
  }
}
</script>
