<template>
    <div>
        <div class="board__content__heading">{{question.title}}</div>
        <div class="board__content__description">{{question.content}}</div>
        <div class="board__content__answers"> 
            <form @submit.prevent="_answer">
                <div class="board__form board__form--bmi">

                    <div class="board__form__group board__form__group--bmi">
                        <select class="board__form__select" v-model="height" required>
                            <option disabled value="">Select A Height</option>
                            <option 
                                v-for="(element, index) in question.variants"
                                :key="index"
                                :value="index"
                            >
                            {{element.height}}
                            </option>
                        </select>
                    </div>

                    <div class="board__form__group board__form__group--bmi">
                        <template v-if="height && height>=0">
                            <select class="board__form__select" v-model="weight" required>
                                <option disabled value="">Select A Weight</option>
                                <option 
                                    v-for="(element, index) in question.variants[height].weight"
                                    :key="element"
                                    :value="index"
                                >
                                {{element}}
                                </option>
                            </select>
                        </template>
                    </div>
                </div>

                <div class="board__form__buttons_group">
                <input 
                    v-if="currentIndex > 0"
                    type="button" 
                    value="Previous"
                    class="board__form__button"
                    @click="previous"
                >
                <input 
                    type="submit" 
                    value="Next"
                    class="board__form__button"
                >  
                </div>

            </form>  
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: "BMI",
    data(){
    return {
      height: '',
      weight: ''
    }
    },
    computed: {
        ...mapGetters( ['labels', 'question', 'currentIndex', 'user_answer', 'currentLabel', 'user_answer_sub', 'subQuestion']),
    },
    methods: {
        ...mapActions(['bmi', 'previous','deleteWoman']),  
        _answer() {
            const label     =   this.labels[this.currentIndex].slug;
            const height    =   this.question.variants[this.height];
            const weight    =   this.weight;
            this.bmi( {
                label,
                answer: {
                    height,
                    weight
                }
            });
            this.$store.commit('set_doned');
            this.$store.commit('nextQuestion');
        }
    },
    watch: {
        height() {
            this.weight = ''
        }
    }
}
</script>

<style>

</style>