<template>
    <div>
        <div class="board__content__heading">{{question.title}}</div>
        <div class="board__content__description">{{question.content}}</div>
        <div class="board__content__answers"> 
            <form @submit.prevent="_answer">
                <div class="board__form">
                    <div 
                        class="board__form__group"
                        v-for="(variant, index) in question.variants"
                        :key="variant.id"
                    >
                        <input type="radio" 
                            class="board__form__radio" 
                            name="answer" 
                            :id="variant.value" 
                            :value="index"
                            v-model="genter"
                            required
                        >
                        <label :for="variant.value" class="board__form__label">
                            <div class="board__form__checkbox"></div> 
                            {{variant.label}}
                        </label>
                    </div>

                    <div class="board__form__group"
                        v-if="question.variants.length%2 == 1"
                    ></div>
                </div>

                <template v-if="genter">
                    <div class="board__content__heading">{{subQuestion.title}}</div>
                    <div class="board__content__description">{{subQuestion.content}}</div>

                    <div class="board__form">
                    <div 
                        class="board__form__group"
                        v-for="(variant, index) in subQuestion.variants"
                        :key="variant.id"
                    >
                        <input type="radio" 
                            class="board__form__radio" 
                            name="womanSub" 
                            :id="variant.value" 
                            :value="index"
                            v-model="womanSub"
                            required
                        >
                        <label :for="variant.value" class="board__form__label">
                            <div class="board__form__checkbox"></div> 
                            {{variant.label}}
                        </label>
                    </div>

                    <div class="board__form__group"
                        v-if="question.variants.length%2 == 1"
                    ></div>
                    </div>
                </template>

                <div class="board__form__buttons_group">
                <input 
                    v-if="currentIndex > 0"
                    type="button" 
                    value="Previous"
                    class="board__form__button"
                    @click="previous"
                >
                <input 
                    type="submit" 
                    value="Next"
                    class="board__form__button"
                >  
                </div>

            </form>  
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: "Genter",
    data(){
        return {
            genter: null,
            womanSub: null
        }
    },
    computed: {
        ...mapGetters( ['labels', 'question', 'currentIndex', 'user_answer', 'currentLabel', 'user_answer_sub', 'subQuestion']),
    },
    methods: {
        ...mapActions(['answer', 'previous','deleteWoman']),  
        _answer() {
            if ( !isNaN(this.genter) ) {
                const label  =   this.labels[this.currentIndex].slug;
                this.answer( {
                    label,
                    answer: this.genter
                });

                if ( this.genter === 0 ) { this.womanSub = null }
            }

            if ( !isNaN(this.womanSub) ) {
                const label  =   'womanSub'
                this.answer( {
                    label,
                    answer: this.womanSub
                });
                console.log('hihi');
            } else {
                this.deleteWoman()
            }

            this.$store.commit('nextQuestion');
        },
        updating() {
            if ( this.user_answer && !isNaN(this.user_answer.answer) ) {
                this.genter = this.user_answer.answer
            }

            if ( this.user_answer_sub && !isNaN(this.user_answer_sub.answer) ) {
                this.womanSub = this.user_answer_sub.answer
            }
        }
    },
    updated() {
        this.updating()
    },
    created() {
        this.updating()
    }
}
</script>

<style>

</style>