<template>
    <div>
        <div class="board__content__heading">{{question.title}}</div>
        <div class="board__content__description">{{question.content}}</div>
        <div class="board__content__answers"> 
            <form @submit.prevent="_answer">
                <div class="board__form">
                    <div 
                        class="board__form__group"
                        v-for="(variant, index) in question.variants"
                        :key="index"
                    >
                        <input type="radio" 
                            class="board__form__radio" 
                            name="answer" 
                            :id="variant.value" 
                            :value="index"
                            v-model="theAnswer"
                            required
                        >
                        <label :for="variant.value" class="board__form__label">
                            <div class="board__form__checkbox"></div> 
                            {{variant.label}}
                        </label>
                    </div>

                    <div class="board__form__group board__form__group--additional"
                        v-if="question.variants.length%2 == 1"
                    ></div>
                </div>
                <div class="board__form__buttons_group">
                <input 
                    v-if="currentIndex > 0"
                    type="button" 
                    value="Previous"
                    class="board__form__button"
                    @click="previous"
                >
                <input 
                    type="submit" 
                    value="Next"
                    class="board__form__button"
                >  
                </div>
            </form>  
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: "NormalQuestions",
    data(){
    return {
      theAnswer: null
    }
    },
    computed: {
        ...mapGetters( ['labels', 'question', 'currentIndex', 'user_answer', 'currentLabel']),
    },
    methods: {
        ...mapActions(['answer', 'previous']),  
        _answer() {
            if ( !isNaN(this.theAnswer) ) {
                const label  =   this.labels[this.currentIndex].slug;
                this.answer( {
                    label,
                    answer: this.theAnswer
                } );
                this.$store.commit('nextQuestion');
                this.theAnswer = null
            }
        },
        init() {
            if ( this.user_answer && !isNaN(this.user_answer.answer) ) {
                this.theAnswer = this.user_answer.answer
            }
        }
    },
    updated() {
        this.init()
    },
    created() {
        this.init()
    }
}
</script>

<style>

</style>