<template>
    <div>
        <div class="reviews"> 
            <div>
                <h4>Your Answer</h4>
                <h2>{{label}}</h2>
                <h3>{{score}} ĐIỂM</h3>
                <div v-html="content" class="content"></div>

                <div class="board__form__buttons_group">
                <input 
                    v-if="currentIndex > 0"
                    type="button" 
                    value="Previous"
                    class="board__form__button"
                    @click="previous"
                >
                <input 
                    v-if="currentIndex < 6"
                    type="submit" 
                    value="Next"
                    class="board__form__button"
                    @click="next"
                >  
                </div>
            </div>  
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: "ReviewAnswer",
    data(){
    return {
      theAnswer: null
    }
    },
    computed: {
        ...mapGetters( ['labels', 'question', 'currentIndex', 'user_answer', 'currentLabel', 'user_answer_sub']),
        score() { 
            if ( this.currentIndex == 5 && this.user_answer_sub.score) {
                return this.user_answer.score + this.user_answer_sub.score
            } else {
                return this.user_answer.score
            }
        },
        label() {
            if ( this.currentIndex == 5 && this.user_answer_sub.label ) {
                return this.user_answer.label + " " + this.user_answer_sub.label
            } else {
                return this.user_answer.label
            }
        },
        content() {
            return this.user_answer.content
        }
    },
    methods: {
        ...mapActions(['answer', 'previous', 'next']),  
        init() {
            if ( this.user_answer && !isNaN(this.user_answer.answer) ) {
                this.theAnswer = this.user_answer.answer
            }
        }
    },
    updated() {
        this.init()
    },
    created() {
        this.init()
    }
}
</script>

<style lang='scss'>
    .reviews {

        & h4 {
            font-weight: 500;
        }

        & h2 {
            font-weight: 700;
            font-size: 3rem;
            padding: 1rem 0;
            text-transform: uppercase;
        }

        & h3 {
            color: #777;
            padding: 1rem
        }

        & .content {
            font-size: 1.8rem;
            line-height: 1.5em;
        }

    }
</style>