<template>
  <div id="app">
    <div class="risk_test">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: "app",
  computed: {
    routerName() {
      return this.$router.history.current.name
    }
  }
}
</script>

<style lang="scss">

  $color-primary: rgb(255, 236, 124);
  $color-primary-light: rgb(255, 251, 205);
  $color-secondary: #27357b;

  $color-white: white;

  $max-width-container: 110rem;

    :root {
      --color-primary: $color-primary;
      --color-primary-light: $color-primary-light;
      --color-secondary: $color-secondary;
    }

    html {
      background-color: #eee;
      font-size: 62.5%;
    }

    body {
      font-size: 1.6rem;
      font-family: 'Roboto', sans-serif;
    }

    #nav {
      text-align: center;
      margin-bottom: 2rem;
    }

    .risk_test {
      max-width: 1100px;
      margin: 0 auto;
      background-color: white;

      &__title {
        text-transform: uppercase;
        font-size: 3rem;
        color: $color-secondary;
        font-weight: 700;
        text-align: center;
        padding: 2rem;
      }
    }
</style>
